/** Fonts **/
/** Colors **/
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
}

#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #FFF;
  z-index: 9999;
  background-image: url(../img/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
.container .page-wrap {
  -webkit-box-flex: 0;
  flex: none;
  width: 80%;
  max-width: 900px;
}

.control-area {
  width: 100%;
}

.branding {
  text-align: center;
}
.branding h1 {
  font-family: "Poiret One", cursive;
  margin: 20px 0;
  font-size: 70px;
  color: #2EDE94;
  background: linear-gradient(to right, #FFF 0%, #2EDE94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quote-input {
  display: block;
  padding: 20px;
  font-size: 21px;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  border: none;
  border-radius: 40px;
  text-align: center;
}
.quote-input::placeholder {
  color: #dad8d8;
  opacity: 1;
  /* Firefox */
}
.quote-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dad8d8;
}

.quote-input:focus, .quote-submit-btn:focus {
  outline: none;
}

.btn-wrapper {
  text-align: center;
}

#btn-loading {
  display: none;
}

.quote-submit-btn {
  display: inline-block;
  width: 40%;
  padding: 20px 40px;
  background-color: #28A6CB;
  color: #FFF;
  text-align: center;
  border: none;
  margin: 20px 0;
  border-radius: 40px;
  font-size: 21px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.quote-submit-btn:hover {
  background-color: #209abf;
  transition: 0.3s;
}

.quote-card {
  padding: 40px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  background-color: #6d4298;
  color: #FFF;
  border-radius: 10px;
  margin: 20px 0;
  font-family: "Poiret One", cursive;
}

/***** Shake animation */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/**** end shake animation **/
/**** Body background animation **/
.animated_bg {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*** end bg animation */
/*** Spinner **/
.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px auto;
  left: 10px;
  background-color: #FFF;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/*** end spinner **/
/** Optimize for mobile **/
@media only screen and (max-width: 600px) {
  .branding h1 {
    font-size: 2em;
  }

  .quote-input {
    font-size: 1em;
    padding: 10px;
  }

  .quote-submit-btn {
    font-size: 1em;
    padding: 10px;
  }

  .quote-card {
    font-size: 1em;
    padding: 20px;
  }

  .quote-submit-btn {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
